.header {
  border-radius: 25px;
  background-color: #f78501;
}

input {
  width: 75%;
  margin-right: 0%;
  padding: 10px;
  border: none;
  float: left;
  font-size: 18px;
}


#liveToastBtn {
  background-color: #DCDCDC;
  width: 25%;
  margin-left: 0%;
  padding: auto;
  padding: 10px;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

#liveToastBtn:hover {
  background-color: #bbb;
}

h2 {
  color: white;

}

img {
  background-color: white;
  border-radius: 25px;
}

#task {
  border-radius: 25px;
  text-indent: 5%;
}


ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 30px;
  background: #eee;
  font-size: 14px;
  transition: 0.2s;
  list-style-type: none;
  color: #f78501;


  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #f78501;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

#list {
  padding-left: 0px;
  text-indent: 2%;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #fff;
  color: white;
}